
* {
    box-sizing: border-box;
}

.info {
background-color:lavender;
width: 100%;
padding: 50px;
margin-top: 20px;
/* margin-left: 500px; */
/* margin: auto; */
}

.infobox1, .infobox2, .infobox3{
display:inline-block;
width:300px;
position: relative;
background-color: lightblue;
margin-left: 50px;
/* width: 100%; */
padding: 20px;
padding-top: 10px;
margin-top: 10px;
height: 350px;
}

.header {
padding: 30px;
text-align: center;
background: white;
}

.header h1 {
font-size: 50px;
}

body {
font-family: Arial;
padding: 10px;
background: #f1f1f1;
}
.row{
margin-top: 40px;
}
.display-4{
padding-top: 20px;
}
#lbsInput{
padding: 15px;
border-radius: 5px;
border: 0px;
width: 150px;
margin-top: 20px;
font-size: 11px;
}
#kgInput{
padding: 15px;
border-radius: 5px;
border: 0px;
width: 150px;
margin-top: 20px;
font-size: 11px;
}
#cmInput{
padding: 15px;
border-radius: 5px;
border: 0px;
width: 150px;
margin-top: 20px;
font-size: 11px;
}
#mInput{
padding: 15px;
border-radius: 5px;
border: 0px;
width: 150px;
margin-top: 20px;
font-size: 11px;
}
#inchInput{
padding: 15px;
border-radius: 5px;
border: 0px;
width: 150px;
margin-top: 20px;
font-size: 11px;
}
#ftInput{
padding: 15px;
border-radius: 5px;
border: 0px;
width: 150px;
margin-top: 20px;
font-size: 11px;
}
#bmiInput{
padding: 10px;
border-radius: 5px;
border: 0px;
width: 100px;
margin-top: 20px;
font-size: 11px;
}
#ratioInput{
padding: 10px;
border-radius: 5px;
border: 0px;
width: 100px;
margin-top: 20px;
font-size: 11px;
}
.indexcol{
margin-top:30px;
margin-bottom:16px;
background: #666;
color: #fff;
height: 70px;
width: 250px;
border-radius: 5px;
font-size: 14px;
padding-top: 1px;
padding-left: 15px;
}

.btn1{
background-color:rgb(136, 136, 136);
color: #fff;
padding: 10px;
border-radius: 5px;
border: 0px;
width: 45%;
font-size: 14px;
float: left;
}

.btn2{
background-color: rgb(136, 136, 136);
color: #fff;
padding: 10px;
border-radius: 5px;
border: 0px;
width: 45%;
font-size: 14px;
float:right
}

.info button:hover {
background-color: grey;
font-weight: bold;
/* color: black; */
}

/* Footer */
.footer {
padding: 20px;
text-align: center;
background: #ddd;
margin-top: 20px;
}

.bottomnav {
overflow: hidden;
/* background-color: #333; */
}

.bottomnav a {
/* float: left; */
display: block;
color: #333;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}

/* Change color on hover */
.bottomnav a:hover {
background-color:lightgray;
font-weight: bold;
/* color: black; */
}

.bott{
float:left;
}

.bott1{
float:right;
}

.tab{
width: 20%;
}

.style1{
padding-left:30px;
padding-top: 10px;
}


.style3{
padding-left:10px;
}

