* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
}

.bottomnav {
    overflow: hidden;
}

.bottomnav a {
    display: block;
    color: #333;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.bottomnav a:hover {
    background-color:lightgray;
    font-weight: bold;
}

.bott{
    float:left;
}

.bott1{
    float:right;
}

.note{
    background-color:black;
}
.title{
    height: 20px;
    margin-left: 200px;
}

.buttonadd{
    width: 100px;
}

.info_notes{
    background-color:rgb(70, 29, 29);
    width: 100%;
    padding: 40px;
    margin-top: 20px;
}