* {
        box-sizing: border-box;
    }

.info {
    background-color:lavender;
    width: 100%;
    padding: 20px;
    margin-top: 20px;
    height: 800px;
    /* margin-left: 500px; */
    /* margin: auto; */
}
.leftcolumn_bmr{
    background-color:rgb(181, 223, 181);
    float: left;
    width: 60%;
    height: 500px;
}
.gender, .age, .weight, .height, .activity{
    display:inline-block;
    position: relative;
    background-color: lightblue;
    border-radius: 10px;
    margin-left: 10px;
    padding: 20px;
    padding-top: 10px;
    margin-top: 15px;
    height: 220px;
}

.index{
    border-radius: 10px;
    display:inline-block;
    position: relative;
    background-color: lightblue;
    margin-left: 20px;
    padding: 20px;
    padding-top: 10px;
    margin-top: 50px;
    height: 220px;
}

.rightcolumn{
    background-color: lightyellow;
    height: 500px;
    /* margin-left: 5px; */
    float: right;
    width: 39%;
}

.header {
    padding: 5px;
    text-align: center;
    background: white;
}

.header h1 {
    font-size: 50px;
}

body {
    font-family: Arial;
    padding: 10px;
    background: #f1f1f1;
}
.row{
    margin-top: 40px;
}
.display-4{
    padding-top: 20px;
}
#ageInput{
    padding: 15px;
    border-radius: 5px;
    border: 0px;
    width: 150px;
    margin-top: 20px;
    font-size: 11px;
}
#lbsInput{
    padding: 15px;
    border-radius: 5px;
    border: 0px;
    width: 150px;
    margin-top: 20px;
    font-size: 11px;
}
#kgInput{
    padding: 15px;
    border-radius: 5px;
    border: 0px;
    width: 150px;
    margin-top: 20px;
    font-size: 11px;
}
#cmInput{
    padding: 15px;
    border-radius: 5px;
    border: 0px;
    width: 150px;
    margin-top: 20px;
    font-size: 11px;
}
#mInput{
    padding: 15px;
    border-radius: 5px;
    border: 0px;
    width: 150px;
    margin-top: 20px;
    font-size: 11px;
}
#inchInput{
    padding: 15px;
    border-radius: 5px;
    border: 0px;
    width: 150px;
    margin-top: 20px;
    font-size: 11px;
}
#ftInput{
    padding: 15px;
    border-radius: 5px;
    border: 0px;
    width: 150px;
    margin-top: 20px;
    font-size: 11px;
}
select{
    padding: 15px;
    border-radius: 5px;
    border: 0px;
    width: 100px;
    margin-top: 20px;
    font-size: 11px;
}
.indexcol{
    margin-top:16px;
    margin-bottom:16px;
    background: #666;
    color: #fff;
    height: 70px;
    width: 250px;
    border-radius: 5px;
    font-size: 16px;
    padding-top: 1px;
    padding-left: 5px;
    vertical-align: middle;
}

.btn1{
    background-color:rgb(136, 136, 136);
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    border: 0px;
    width: 45%;
    font-size: 14px;
    float: left;
}

.btn2{
    background-color: rgb(136, 136, 136);
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    border: 0px;
    width: 45%;
    font-size: 14px;
    float:right
}

.info button:hover {
    background-color: grey;
    font-weight: bold;
}

/* Footer */
.footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
}

.bottomnav {
    overflow: hidden;
}

.bottomnav a {
    display: block;
    color: #333;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.bottomnav a:hover {
    background-color:lightgray;
    font-weight: bold;
}

.bott{
    float:left;
}

.bott1{
    float:right;
}

.style1_bmr{
    width:20%;
    padding-left: 5px;
}
.style2_bmr{
    padding-left: 25px;
    padding-top: 7px;
}
.age{
    width: 200px;
}
.weight{
    width: 250px;
}
.style3_bmr{
    padding-left: 30px;
    padding-top: 10px;
}
.height{
    width: 440px;
    margin-left: 100px;
}
.style4_bmr{
    padding-left: 20px;
    padding-top: 10px;
}
.index{
    width: 300px;
    height: 400px;
    padding-left: 5px;
}
.style5_bmr{
    padding-left: 5px;
    
}
