
* {
        box-sizing: border-box;
}

.info {
    background-color:lavender;
    width: 100%;
    padding: 20px;
    margin-top: 20px;
    height: 600px;
    /* margin-left: 500px; */
    /* margin: auto; */
}
.leftcolumn{
    /* background-color:rgb(181, 223, 181); */
    float: left;
    width: 65%;
    height: 500px;
}
.height{
    display:inline-block;
    position: relative;
    background-color: lightblue;
    border-radius: 10px;
    margin-left: 10px;
    padding: 20px;
    padding-top: 10px;
    margin-top: 15px;
    height: 220px;
    width: 440px;
}
.weight{
    display:inline-block;
    position: relative;
    background-color: lightblue;
    border-radius: 10px;
    margin-left: 10px;
    padding: 20px;
    padding-top: 10px;
    margin-top: 15px;
    height: 220px;
    width: 250px;
}
.activity{
    display:inline-block;
    position: relative;
    background-color: lightblue;
    border-radius: 10px;
    margin-left: 10px;
    padding: 20px;
    padding-top: 10px;
    margin-top: 15px;
    height: 220px;
    width: 250px;
}

.age{
    display:inline-block;
    position: relative;
    background-color: lightblue;
    border-radius: 10px;
    margin-left: 10px;
    padding: 20px;
    padding-top: 10px;
    margin-top: 15px;
    height: 220px;
    width: 200px;
}

.gender{
    display:inline-block;
    position: relative;
    background-color: lightblue;
    border-radius: 10px;
    padding: 20px;
    padding-top: 10px;
    margin-top: 15px;
    height: 220px;
    width: 150px;
    margin-left: 50px
}

.index{
    border-radius: 10px;
    display:inline-block;
    position: relative;
    background-color: lightblue;
    margin-left: 50px;
    padding: 20px;
    padding-top: 10px;
    margin-top: 50px;
    width: 300px;
    height: 400px;
}

.rightcolumn_calc{
    background-color:lightgoldenrodyellow;
    height: 500px;
    float: right;
    width: 35%;
}

.header {
    padding: 5px;
    text-align: center;
    background: white;
}

.header h1 {
    font-size: 50px;
}

body {
    font-family: Arial;
    padding: 10px;
    background: #f1f1f1;
}
.row{
    margin-top: 40px;
}
.display-4{
    padding-top: 20px;
}
#ageInput{
    padding: 15px;
    border-radius: 5px;
    border: 0px;
    width: 150px;
    margin-top: 20px;
    font-size: 11px;
}
#lbsInput{
    padding: 15px;
    border-radius: 5px;
    border: 0px;
    width: 150px;
    margin-top: 20px;
    font-size: 11px;
}
#kgInput{
    padding: 15px;
    border-radius: 5px;
    border: 0px;
    width: 150px;
    margin-top: 20px;
    font-size: 11px;
}
#cmInput{
    padding: 15px;
    border-radius: 5px;
    border: 0px;
    width: 150px;
    margin-top: 20px;
    font-size: 11px;
}
#mInput{
    padding: 15px;
    border-radius: 5px;
    border: 0px;
    width: 150px;
    margin-top: 20px;
    font-size: 11px;
}
#inchInput{
    padding: 15px;
    border-radius: 5px;
    border: 0px;
    width: 150px;
    margin-top: 20px;
    font-size: 11px;
}
#ftInput{
    padding: 15px;
    border-radius: 5px;
    border: 0px;
    width: 150px;
    margin-top: 20px;
    font-size: 11px;
}
select{
    padding: 15px;
    border-radius: 5px;
    border: 0px;
    width: 100px;
    margin-top: 20px;
    font-size: 11px;
}
.indexcol{
    margin-top:16px;
    margin-bottom:16px;
    background: #666;
    color: #fff;
    height: 70px;
    width: 250px;
    border-radius: 5px;
    font-size: 16px;
    padding-top: 1px;
    padding-left: 15px;
    vertical-align: middle;
}

.btn1{
    background-color:rgb(136, 136, 136);
    color: #fff;
    padding: 20px;
    border-radius: 5px;
    border: 0px;
    width: 30%;
    font-size: 14px;
    float: left;
    margin-left: 00px;
}

.btn2{
    background-color: rgb(136, 136, 136);
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    border: 0px;
    width: 45%;
    font-size: 14px;
    float:right
}

.btn1_c button:hover{
    background-color: blue;
}

/* .info button:hover {
    background-color: grey;
    font-weight: bold;
} */

/* Footer */
.footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
}

.bottomnav {
    overflow: hidden;
}

.bottomnav a {
    display: block;
    color: #333;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.bottomnav a:hover {
    background-color:lightgray;
    font-weight: bold;
}
    
.bott{
    float:left;
}

.bott1{
    float:right;
}

.style1{
    width:20%;
}
.style2{
    padding-left: 25px;
    padding-top: 7px;
}
.actInput{
    width: 200px;
}
.style3{
    padding-left: 30px;
    padding-top: 10px;
}
.style4{
    padding-left: 20px;
    padding-top: 10px;
}
.style5{
    padding-left: 10px;
}
.style1{}