.bott_w{
    float:left
}
.bott1_w{
    float:right
}
.footer_w{
    padding: 20px;
    text-align: center;
    background: #ddd;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 400px;
}
.bottomnav_w{
    overflow: hidden;
    /* background-color: #333; */
}

.bottomnav_w a {
    /* float: left; */
    display: block;
    color: #333;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change color on hover */
.bottomnav_wa:hover {
    background-color:lightgray;
    font-weight: bold;
    /* color: black; */
}
.weat{
    text-align: center;
    width:auto;
    padding: 50px;
    /* height: 100px; */
    color: white;
}
.weat1{
    position: relative;
    top:25% ;
    align-self: center;
    color: black;

}
.four{
    width: 25%;
    height: 330px;
    float: left;
    position: relative;
    top: 20px;
    background-color: lightslategray;
    
} 
.inboxes_w{
    background-color: white;
    width: 50%;
    border-radius: 4px;
    margin-left: 11%;
    height: 220px;
    margin-bottom: 4px;
}
svg{
    margin-top: 15px;
    margin-left: 100px;
    /* padding-left: 70px; */
}
.newslink{
    position: absolute;
    bottom: 10%;
    margin-left: 10px;
    /* padding-bottom: -70px; */
    color:black;
    text-decoration: none;
}

